ion-header {
    --background: #3b5998; 
  }
  
  ion-back-button {
    --color: #fff;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  p {
    margin-bottom: 1.5em;
  }
  
  ion-label {
    color: #000;
  }
  
  ion-button {
    margin-top: 1em;
  }
  
  ion-fab-button {
    --background: #f44336;
  }
  
  ion-fab-button ion-icon {
    font-size: 1.5em;
  }
  