.content-background {
  --background: #02111b;
  color: #fff;
}

ion-item {
  --background: #02111b;
  color: #fff;
}

ion-list {
  --background: #02111b;
}
ion-label {
  --background: #02111b;
}

.list-md {
  background-color: #02111b;
}

ion-thumbnail img {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

ion-button {
  --color: #f44336;
}

h2 {
  text-align: center;
  color: #ffffff;
}
