ion-header {
  --background: #3b5998;
}

ion-back-button {
  --color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  color: #3b5998;
  font-weight: bolder;
  width: 90%;
  max-width: 600px; 
  margin: 10% auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container p {
  color: #3b5998;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 1.5em;
}

.container h2 {
  font-size: 2em; 
  font-weight: bold;
  margin-bottom: 0.5em;
}

@media (max-width: 768px) {
  .container {
    margin: 20% auto;
    padding: 15px;
  }

  .container h2 {
    font-size: 1.8em; 
  }

  .container p {
    font-size: 1em; 
  }
}

ion-label {
  color: #000;
}
