<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre o app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size-md="6" size-xs="12">
        <!-- Container com título e descrição -->
        <div class="container">
          <h2>Sobre o app</h2>
          <p>
            Se deseja manter sua rotina mais organizada, o Organize seu Saber
            está aqui para ajudar!
          </p>
          <p>
            Mantenha suas tarefas organizadas no cotidiano e aumente sua
            produtividade!
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
