<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre o app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size-md="6" size-xs="12">
        <div class="container">
          <h2>Sobre o app</h2>
          <p>
            Quer manter sua rotina mais organizada? O Organize seu Saber foi
            feito para você!
          </p>
          <p>
            Com ele, organize suas tarefas diárias, aumente sua produtividade e
            agora conte também com uma pesquisa rápida de livros para enriquecer
            seus estudos.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
