<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size-md="6" size-xs="12">
        <!-- Container com título e descrição -->
        <div class="container">
          <h2>Acesse</h2>
          <p>Com sua conta Google</p>

          <!-- Botão para login com Google -->
          <ion-button expand="block" color="danger">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            Login com Google
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>