<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Podcasts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="searchPodcasts()"></ion-searchbar>

  <ion-list *ngIf="podcasts.length > 0">
    <ion-item *ngFor="let podcast of podcasts">
      <ion-label>
        <h2>{{ podcast.title || podcast.title_original }}</h2>
        <p>{{ podcast.publisher || podcast.publisher_original }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
