/* Configurações gerais de ion-content */
ion-content {
  --background: #02111b !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 16px;
}

/* Estilização do container principal */
#container {
  width: 100%;
  max-width: 600px;
  background-color: #02111b !important;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: auto;
}

form {
  width: 100%;
}

/* Estilização dos itens do formulário (campos, seletores, etc.) */
ion-item {
  width: 100%;
  --background: transparent;
  border: none;
  margin-bottom: 15px;
  color: #fff;
}

ion-input{
  padding-left: 10px;
}

/* Título do formulário */
#task-title {
  font-size: large;
  font-weight: bolder;
  line-height: 26px;
  color: #fff;
  margin-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

ion-select {
  --color: #fff;
  --placeholder-color: #ccc;
  border: 1px solid #fff;
  border-radius: 5px;
  padding-left: 10px;
}

/* Estilização do botão Adicionar Tarefa */
ion-button#adicionarTarefa {
  display: block;
  width: 100%;
  margin-top: 20px;
  --background: #5067ff;
  --color: #fff;
  border-radius: 5px;
  padding: 12px;
}

/* Centralização e espaçamento do calendário */
#task-due-date {
  margin: 20px 0;
  text-align: center;
  color: #fff;
}

ion-datetime {
  --color: #fff;
  --background: #02111b;
}

/* Ajustes de espaçamento */
.container,
#task-due-date,
#adicionarTarefa,
#task-list-section,
#task-title {
  padding-top: 20px;
}

ion-button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
  color: #5067ff;
}

/* Estilização do título "Minhas Tarefas" */
#task-list-section {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  background-color: #02111b;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
}

/* Estilização do título */
#task-list-section h2 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
  text-align: left;
}

.task-item-title {
  font-size: 16px;
  color: #333333;
}

.task-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Estilização dos botões de ações */
.task-item-actions ion-button {
  --background: #5067ff; /* Cor de fundo dos botões */
  --color: #fff; /* Cor do texto dos botões */
  border-radius: 5px;
  padding: 6px 12px;
}

.list-md {
  background-color: #02111b;
  color: #333333;
}

.icon-inner,
.ionicon,
svg {
  display: block;
  height: 100%;
  width: 100%;
  color: azure;
}



.task-list {
  color: #fff;
}

ion-card-header{
  background-color: #02111b;

}

ion-card-title{
  color:#ffffff;
}


ion-segment{
  background-color: #ffffff;
}

ion-icon{
  color:#ffffff;
}

#task-title ion-input{
  padding-left: 30px;
}

