ion-card {
    background-color: #272727; 
    color: #ffffff; 
  }
  
  ion-card-header,
  ion-card-content,
  ion-card-title,
  ion-card-subtitle {
    background-color: #272727; 
    color: #ffffff; 
  }
  
  img {
    width: 20%; 
    border-bottom: 1px solid #333333;
  }
  
  p {
    margin: 0; 
  }
  